
.button {
    border-radius: 1px;
    @include default-shadow();
    font-family: Montserrat;
    font-size: $default-font-size;
    padding: 10px 30px;
    cursor: pointer;
}
.icon-button{
    display: flex;
    align-items: center;
}

@for $i from 0 to length($sizes) {
    .button.is-#{nth($sizes, $i + 1)}{
        padding: #{$button-vertical-padding  + ($i * $button-vertical-padding)}px #{$button-default-padding + ($i * $button-default-padding)}px;  
        font-size: #{$button-default-font-size + ($i*2)}px;
    }
}

@each $prefix, $hex  in $theme-colors {
    .button.#{$prefix} { 
        &:hover {
            background-color: darken($hex, 5%);
        }
    }
}

.button-cart {
    position: relative;
    .cart {
        padding: 10px;
        padding-top: 0px;
        display: none;
        position: absolute;
        top: 70px;
        right: 6px;
        min-width: 350px;
        @include default-shadow();
    }
}

.oval {
    border-radius: 70px;
}