.card {
    width: 500px;
    border-radius: $card-border-radius;
    @include default-shadow();
    .header{
        display: flex;
        padding: 10px;
        .description{
            padding-top: 5px;
            padding-left: 10px;
            width: 80%;
        }
        .options{
            font-size: 1.7em;
        }
    }
    .media img {
        width: 100%;
        height: auto;
        border-top-right-radius: $card-border-radius;
        border-top-left-radius: $card-border-radius;
    }
    .headline {
        padding: 10px;
        @extend h4;
    }
    .text {
        padding: 10px;
    }
    .actions {
        display: flex;
        justify-content: space-around;
    }
}