// Cart style 1
.cart-1{
    @include roboto();
    display: inline-block;
    .products{
        display: inline-block;
        .product{
            display: flex;
            
            .image{
                display: inline-block;
            }
            .description{
                display: inline-block;
                padding-left: 10px;
                .title{

                }
                .text{
                    font-size: 14px;
                }
            }
            .price{
                display: inline-block;
            }
        }
    }
    .actions{
        
    }
    .subtotal{

    }
}


// Cart style 2
