.tag {
    width: auto;
    height: 32px;
    font-size: 14px;
    align-items: center;
    display: inline;
    padding: 5px 12px;
    border-radius: 100px;
    font-weight: 400;
    cursor:  pointer;
    @include default-shadow();
}