// rounding
.rounded {
    border-radius: 0.25rem !important;
}

.rounded-top {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.rounded-bottom {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.rounded-right {
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.rounded-left {
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.circle {
    border-radius: 50% !important;
}

// shadow


// image sizing .is-36 .is-42 etc..
@each $size-name, $size in $image-sizes {
    .#{$size-name}{
        width: $size;
        height: $size;
    }
}
