body, html {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    height: 100%;
    background: $bg-color;
}

body, form, button, section, a, input, textarea, select {
    @include roboto();
}

a {
    color: #2c3e50;
    text-decoration: none;
    &:hover {
        color: darken(#2c3e50, 20%);
    }
}

* {
    -webkit-transition: all 0.1s ease;
    -moz-transition:    all 0.1s ease;
    -ms-transition:     all 0.1s ease;
    -o-transition:      all 0.1s ease;
  }



@for $i from 1 through 6 {
    h#{$i}{
        @include montserrat();
        font-size: #{$default-font-size * 3 - substracted-percentage($default-font-size * 3, $i * 10)}px;
    }
}