body, html {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    height: 100%;
    background: $bg-color;
}

body, form, button, section, a, input, textarea, select {
    @include roboto();
}

a {
    color: #2c3e50;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        color: darken(#2c3e50, 20%);
    }
}

[toggles] {
    cursor: pointer;
}

@for $i from 1 through 6 {
    h#{$i}{
        @include roboto();
    }
}
