// Color helpers

@each $name, $color in $theme-colors {
    .#{$name} {
        color: $default-button-text-color;
        background-color: $color;
        border: 1px solid $color;

        @if $name == 'light' or $name == 'flat'{
            color: $dark-color;
            @if $name == 'flat' {
                box-shadow: none;
            }
        }
    }
    .o-#{$name} {
        background-color: white;
        color: $color;
        border: 1px solid $color;
    }
}


// Margin and padding helpers (configured in variables)

@each $prefix, $prop in $helper-types {
    @for $i from $helper-loop-start through $helper-loop-length {
        .#{$prefix}-#{$i} {
            #{$prop}: #{$helper-scaling * $i}px;
        }
    }
}

@each $size-name, $size in $image-sizes {
    .#{$size-name}{
        width: $size;
        height: $size;
    }
}

.full-width {
    width: 100%;
    margin: 0 0 !important;
}

.full-height {
    height: 100%;
}


.flat {
    box-shadow: none !important;
    border: none !important;
    &:hover {
        background-color: transparent;
    }
}

// Text formating
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
