// Color helpers

@each $name, $color in $theme-colors {
    .#{$name} {
        background-color: $color;
        color: $default-button-text-color;
        cursor: pointer;

        @if $name == 'light' or $name == 'flat'{
            color: $dark-color;
            @if $name == 'flat' {
                box-shadow: none;
            }
        }
    }
}

@each $prefix, $prop in $helper-types {
    @for $i from $helper-loop-start through $helper-loop-length {
        .#{$prefix}-#{$i} {
            #{$prop}: #{$helper-scaling * $i}px;
        }
    }
}

.full-width {
    width: 100%;
    margin: 0 0 !important;
}


.flat {
    box-shadow: none !important;
    border: none !important;
    &:hover {
        background-color: transparent;
    }
}