#intro {
  height: 99.8vh;
}
#intro .external-links a {
  color: white;
  padding: 10px;
}

#install-npm {
  background: #242424;
  border-radius: 4px;
  color: #fff;
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  line-height: 20px;
  padding: 15px 25px;
  position: relative;
  max-width: 300px;
  margin: auto;
}

.code {
  /* display: block; */
  font-family: monospace;
  white-space: pre;
  /* margin: 1em 0; */
  background-color: #efefef;
}

.fixed-aside {
  position: fixed;
  height: 100vh;
}