<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="initial-scale=1,width=device-width">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/stylesheets/framework.css'>
    <script src="/javascripts/framework.js"></script>
  </head>
  <body>
    <aside class="nav-aside fixed-aside" primary>
        <a href="/">back to Home</a>
        <img  src="/images/eui-logo.JPG">
        <input type="text">
        <a href="/docs">Introduction</a>
        <a href="/docs/introduction">Installation</a>
        <div class="link-dropdown">
            <a>Components</a>
            <div class="dropdown">
                <a href="/docs/components/cards">Cards</a>
                <a href="">Navbars</a>
                <a href="">Dropdowns</a>
                <a href="">Footers</a>
                <a href="">Carousel</a>
                <a href="">Tooltip icons</a>
            </div>
        </div>
        <div class="link-dropdown">
            <a>Grid system</a>
            <div class="dropdown">
                <a href="/docs/grid">What is grid system</a>
                <a href="/docs/grid/intro">Grid system</a>
            </div>
        </div>
        <div class="link-dropdown">
            <a>Utilities</a>
            <div class="dropdown">
                <a href="/docs/grid">Grid helpers</a>
                <a href="/docs/grid/intro">Text helpers</a>
                <a href="/docs/grid/intro">Position helpers</a>
            </div>
        </div>
        <div class="link-dropdown">
            <a>Forms</a>
            <div class="dropdown">
                <a href="/docs/grid">Inputs</a>
                <a href="/docs/grid/intro">Select</a>
                <a href="/docs/grid/intro">Multiselect</a>
                <a href="/docs/grid/intro">Textarea</a>
            </div>
        </div>
        <div class="link-dropdown">
            <a>Libraries</a>
            <div class="dropdown">
                <a href="/docs/grid">Sweetalert</a>
                <a href="/docs/grid/intro">Axios</a>
                <a href="/docs/grid/intro">GSAP</a>
            </div>
        </div>
        <a href="http://gia.epicweb.bg">Animations</a>
    </aside>
    <main style="padding-left: 310px;">    
        {% block body %}{% endblock %}
    </main>
  </body>
  <script>
      window.app = new ui()
  </script>
</html>
